[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Logs/
MemoryCaptures/
UserSettings/
.vs/
.vscode/
*.csproj
*.sln
*.user
*.pidb
.DS_Store
cdislab_BackUpThisFolder_ButDontShipItWithYourGame/
*/il2cppOutput/
[Bb]ackup/
